img {
  background-color: yellowgreen;  /* 배경색 추가 */
  top:50px;
}
.select-img{
  border: 3px solid red; 
}
.default-img{
  border: 3px solid black; 
}
/* 상단 바 스타일 */
.top-bar {
  width: 1200px;
  height: 6px;  /* 80% 너비로 변경 (필요에 따라 조정) */
  background-color: #D3D3D3;  /* 회색 */
  padding: 5px 0;  /* 얇은 바 */
  position: fixed;
  top : 20px;
  left: 5%;  /* 화면 중앙에 위치 */
  border-radius: 30px;
}
/* 원을 감싸는 wrapper: 위치 조정 */
.circle-wrapper {
  position: absolute;
  top: 120%; /* 수직 중앙 배치 */
  transform: translate(-50%, -50%);
  text-align: center;  /* 텍스트 중앙 정렬 */
  display: flex;
  flex-direction: column; /* 수직으로 배치 */
  align-items: center; /* 원과 텍스트를 수평 중앙 정렬 */
}
.circle{
  width:30px;
  height:30px;
  background-color: black;
  border-radius: 50%;
}

.circle-wrapper.circle0{left:0%;}
.circle-wrapper.circle1{left:16.6%;}
.circle-wrapper.circle2{left:33.3%;}
.circle-wrapper.circle3{left:50%;}
.circle-wrapper.circle4{left:66.6%;}
.circle-wrapper.circle5{left:84%;}
.circle-wrapper.circle6{left:100%;}
.circle-label {
  font-size: 14px;
  color: #333;
  margin-top: 5px;  /* 원과 텍스트 사이 간격 */
}

.text-position{
  position : absolute;
  font-size : 50px;
  top: 50px;
  left : 100px;
}
.home-button {
  background-color:purple; /* 버튼 배경색 (녹색) */
  position: fixed;  /* 화면에서 고정 위치 */
  bottom: 100px;  /* 화면 하단에서 20px 위로 위치 */
  right: 200px;   /* 화면 오른쪽에서 20px 떨어지게 위치 */
}
.next-button {
  background-color: green; /* 버튼 배경색 (녹색) */
  position: fixed;  /* 화면에서 고정 위치 */
  bottom: 100px;  /* 화면 하단에서 20px 위로 위치 */
  right: 100px;   /* 화면 오른쪽에서 20px 떨어지게 위치 */
}
.car-container-default {
  text-align: center; /* 텍스트를 이미지 아래로 중앙 정렬 */
  display: flex;
  flex-direction: column; /* 수직으로 배치 */
  align-items: center; /* 수평 중앙 정렬 */
  border: 3px solid black;
  background-color: yellowgreen;
}
.car-container-select {
  text-align: center; /* 텍스트를 이미지 아래로 중앙 정렬 */
  display: flex;
  flex-direction: column; /* 수직으로 배치 */
  align-items: center; /* 수평 중앙 정렬 */
  border: 3px solid rgb(139, 83, 83); 
  background-color: red; 
}
.car-name {
  font-size: 16px; 
  font-weight: bold;
  margin-top: 8px; 
  color: #333; 
}
.car-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  justify-content: flex-start; 
  gap: 20px; 
  margin-top: 150px; 
}
.year-input-container {
  display: flex;
  align-items: center;
  margin-top: 50px;
  gap:20px;
}

.year-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 120px;
  border: 3px solid black;
  border-radius: 12px;
  font-size: 2rem;
  font-weight: bold;
  background-color: #f8fff5;
  margin-bottom: 20px;
  text-align: center;
}

.year-buttons {
  display: flex;
  gap: 20px;
}

.year-button {
  padding: 12px 24px;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  background-color: navy;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.year-button:hover {
  background-color: #357ab7;
}


.mileage-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.mileage-label {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.gray-label {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px;
  color : gray;
}
.mileage-input {
  width: 300px;       
  height: 120px;             
  font-size: 1.5rem;      
  padding: 10px 15px;      
  border: 2px solid #ccc;
  border-radius: 12px;
  text-align: center;       
  margin-top: 10px;
}
.input-box {
  width: 150px;        
  height: 50px;            
  font-size: 1.5rem;        
  padding: 10px 15px;      
  border: 2px solid #ccc;
  border-radius: 12px;
  text-align: center;       
}
.unit{
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  align-items: center;
  gap : 30px;  
  width: 100%;
  
}
.wrap{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap : 20px;  
}
.checklist-unit {
  display: flex;     
  font-weight: bold;      
  gap:20px;
  font-size: 33px;
  flex-wrap : wrap;
}
.checkbox {
  width: 30px;
  height: 30px;
}
.input-pair {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  transform: translateY(-20px);
}
.input-pair2 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
.font-size40{
    font-size : 33px;
    font-weight: bold;
}
.black-label {
  font-size: 1.2rem;
  font-weight: 600;
  color :  black;
}
.black-label-size {
  font-size: 1.5rem;
  font-weight: 500;
  color :  black;
}
.line{
  border-bottom: 3px solid rgb(196, 195, 195);  
  background-color: transparent;
  width: 1200px;
  height: 1px;
}
.wrap2{
  display: absolute;
  flex-direction: column;
  align-items: center;
  margin-top : 20px;
  margin-left : 20px;
  transform: translateY(20px);
}
.scroll {
  max-height: 70vh;
  overflow-y: auto;
  margin-top: 20px;
  margin-left: 60px;
  padding-right: 10px;
  scrollbar-width: thin;
  scrollbar-color: #ccc transparent; 
}

.light{
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 9999px;
  border: 1px solid #ccc;
}

.light-red {
  background-color: #f87171;
}

.light-yellow {
  background-color: #facc15;
}

.light-green {
  background-color: #4ade80;
}

.text-red {
 color: #f87171;
}

.text-yellow {
 color: #facc15;
}

.text-green {
  color: #4ade80;
}
;